@mixin robotoFont($file, $width, $style) {
  @font-face {
    font-family: 'roboto';
    src: url("../fonts/roboto/" + $file);
    font-style: $style;
    font-weight: $width;
  }
}

@include robotoFont('Roboto-Black.ttf', 800, normal);
@include robotoFont('Roboto-BlackItalic.ttf', 800, italic);
@include robotoFont('Roboto-Bold.ttf', 700, normal);
@include robotoFont('Roboto-BoldItalic.ttf', 700, italic);
@include robotoFont('Roboto-Medium.ttf', 600, normal);
@include robotoFont('Roboto-MediumItalic.ttf', 600, italic);
@include robotoFont('Roboto-Regular.ttf', 400, normal);
@include robotoFont('Roboto-Italic.ttf', 400, italic);
@include robotoFont('Roboto-Light.ttf', 200, normal);
@include robotoFont('Roboto-LightItalic.ttf', 200, italic);
@include robotoFont('Roboto-Thin.ttf', 100, normal);
@include robotoFont('Roboto-ThinItalic.ttf', 100, italic);

@mixin fontCambria($file, $style) {
  @font-face {
    font-family: Cambria;
    src: url("../fonts" + $file);
    font-style: $style;
  }
}

@include fontCambria('cambria.ttc', normal);
@include fontCambria('cambriab.ttf', bold);
@include fontCambria('cambriai.ttf', italic);
@include fontCambria('cambriaz.ttf', italic-bold);