@import "fonts";

// colors
$main: #F14841;
$blue: midnightblue;
$grey: #333333;
$dark: #666666;
$muted: #B1B1B1;

// var
$tr: .3s ease;

@mixin padding {
  padding: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 16px;
}

body {
  min-width: 640px;
}

button.btn {
  border-radius: 0;
  &.btn-main {
    background-color: $main;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: background-color $tr;
    margin: 30px 0;
    &:hover {
      background-color: darken($main, 10);
    }
  }
}

section.header {
  @include padding;
  background: url("../img/bg-01.png") fixed;
  button.btn {
    margin: 30px 0;
  }
  h1, h2 {

    color: white;
  }
  .logo {
    display: inline-block;
    margin-top: 15px;
    & > img {
      height: 90px;
    }
  }
  .contacts {
    margin-top: 25px;
    span {
      display: block;
      text-align: center;
      font-size: 18px;
      color: $dark;
    }
    a {
      font-size: 14px;
      color: $muted;
      transition: color $tr;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
  .subtitle {
    color: $muted;
  }
  .special {
    text-align: center;
    color: white;
    margin-top: 40px;
    p {
      display: inline-block;
      padding: 7px 0;
      border-bottom: 1px solid $main;
      border-top: 1px solid $main;
    }
  }
  .divider {
    width: 18px;
    height: 18px;
    background-image: url("../img/sep.svg");
    margin: 15px auto;
  }
}

section.what-you-get {
  @include padding;
  background-image: url("../img/bg-lines.svg");
  background-size: cover;
  background-position-y: center;
  h2 {
    margin: 50px 0;
  }
  .item {
    text-align: center;
    margin-bottom: 50px;
    img {
      margin: 15px auto;
      display: block;
      height: 100px;
    }
    p {
      padding: 0 25px;
    }
  }
}

section.our-advantages {
  background: url("../img/bg-02.png") fixed;
  min-height: 400px;
  display: flex;
  align-items: center;
  h2 {
    font-family: Cambria;
    text-align: center;
    color: white;
  }
}

section.our-offer {
  @include padding;
  background-color: #bbcad2; // Old browsers
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbcad2+0,ffffff+49,ffffff+100 */
  background: #bbcad2; /* Old browsers */
  background: -moz-linear-gradient(top, #bbcad2 0%, #ffffff 49%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bbcad2 0%, #ffffff 49%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bbcad2 0%, #ffffff 49%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbcad2', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
  padding-top: 50px;
  .background-layer {
    background-image: url("../img/map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
  }
  h3 {
    margin-bottom: 40px;
  }
  ul {
    li {
      margin-bottom: 15px;
      &.title {
        list-style: none;
        font-weight: 600;
        margin-left: -15px;;
      }
    }
  }
}

section.footer {
  background-color: $grey;
  .row {
    display: flex;
    align-items: center;
  }
  .logo {
    a {
      display: inline-block;
      padding: 10px 0;
      img {
        height: 60px;
      }
    }
  }
  .phones {
    text-align: center;
    span {
      color: $dark;
      margin: auto;
      display: block;
    }
    a {
      color: $muted;
      transition: color $tr;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
  .mail {
    text-align: right;
    a {
      color: $muted;
      transition: color $tr;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}