@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.ttf");
  font-style: italic;
  font-weight: 800; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.ttf");
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.ttf");
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100; }

@font-face {
  font-family: Cambria;
  src: url("../fontscambria.ttc");
  font-style: normal; }

@font-face {
  font-family: Cambria;
  src: url("../fontscambriab.ttf");
  font-style: bold; }

@font-face {
  font-family: Cambria;
  src: url("../fontscambriai.ttf");
  font-style: italic; }

@font-face {
  font-family: Cambria;
  src: url("../fontscambriaz.ttf");
  font-style: italic-bold; }

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 26px; }

p {
  font-size: 16px; }

body {
  min-width: 640px; }

button.btn {
  border-radius: 0; }
  button.btn.btn-main {
    background-color: #F14841;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 30px 0; }
    button.btn.btn-main:hover {
      background-color: #ee1a12; }

section.header {
  padding: 20px 0;
  background: url("../img/bg-01.png") fixed; }
  section.header button.btn {
    margin: 30px 0; }
  section.header h1, section.header h2 {
    color: white; }
  section.header .logo {
    display: inline-block;
    margin-top: 15px; }
    section.header .logo > img {
      height: 90px; }
  section.header .contacts {
    margin-top: 25px; }
    section.header .contacts span {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #666666; }
    section.header .contacts a {
      font-size: 14px;
      color: #B1B1B1;
      transition: color 0.3s ease; }
      section.header .contacts a:hover {
        text-decoration: none;
        color: white; }
  section.header .subtitle {
    color: #B1B1B1; }
  section.header .special {
    text-align: center;
    color: white;
    margin-top: 40px; }
    section.header .special p {
      display: inline-block;
      padding: 7px 0;
      border-bottom: 1px solid #F14841;
      border-top: 1px solid #F14841; }
  section.header .divider {
    width: 18px;
    height: 18px;
    background-image: url("../img/sep.svg");
    margin: 15px auto; }

section.what-you-get {
  padding: 20px 0;
  background-image: url("../img/bg-lines.svg");
  background-size: cover;
  background-position-y: center; }
  section.what-you-get h2 {
    margin: 50px 0; }
  section.what-you-get .item {
    text-align: center;
    margin-bottom: 50px; }
    section.what-you-get .item img {
      margin: 15px auto;
      display: block;
      height: 100px; }
    section.what-you-get .item p {
      padding: 0 25px; }

section.our-advantages {
  background: url("../img/bg-02.png") fixed;
  min-height: 400px;
  display: flex;
  align-items: center; }
  section.our-advantages h2 {
    font-family: Cambria;
    text-align: center;
    color: white; }

section.our-offer {
  padding: 20px 0;
  background-color: #bbcad2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbcad2+0,ffffff+49,ffffff+100 */
  background: #bbcad2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bbcad2 0%, #ffffff 49%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bbcad2 0%, #ffffff 49%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bbcad2 0%, #ffffff 49%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbcad2', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  padding-top: 50px; }
  section.our-offer .background-layer {
    background-image: url("../img/map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%; }
  section.our-offer h3 {
    margin-bottom: 40px; }
  section.our-offer ul li {
    margin-bottom: 15px; }
    section.our-offer ul li.title {
      list-style: none;
      font-weight: 600;
      margin-left: -15px; }

section.footer {
  background-color: #333333; }
  section.footer .row {
    display: flex;
    align-items: center; }
  section.footer .logo a {
    display: inline-block;
    padding: 10px 0; }
    section.footer .logo a img {
      height: 60px; }
  section.footer .phones {
    text-align: center; }
    section.footer .phones span {
      color: #666666;
      margin: auto;
      display: block; }
    section.footer .phones a {
      color: #B1B1B1;
      transition: color 0.3s ease;
      cursor: pointer; }
      section.footer .phones a:hover {
        text-decoration: none;
        color: white; }
  section.footer .mail {
    text-align: right; }
    section.footer .mail a {
      color: #B1B1B1;
      transition: color 0.3s ease; }
      section.footer .mail a:hover {
        text-decoration: none;
        color: white; }
